header {
   height: 75px;
   background-color: transparent;
   z-index: 99;

   button{
       border: none;
       background-color: rgba(255, 255, 255, 0.3);
       font-family: 'Josefin Sans', sans-serif;
       &.nav-item-login{
        width: 40px;
        height: 40px;
       }
       &.nav-item-register{
        padding:0px 16px;
       }
       a:visited{
           color: black;
       }
       &:hover{
           background: white;
       }
    }

    #navbarDropdown:first-of-type{
        background-color: rgba(255, 255, 255, 0.3);
        color: black;
        padding:0.5rem 16px;
        &:visited{
            color: black;
        }
        &:hover{
            background: white;
        }
    }






    .modal .modal-dialog-aside{ 
        width: 483px; max-width:80%; height: 100%; margin:0;transform: translate(0); transition: transform .2s;
    }
    .modal .modal-dialog-aside .modal-content{  height: inherit; border:0; border-radius: 0; }
    .modal .modal-dialog-aside .modal-content .modal-body{ overflow-y: auto }
    .modal.fixed-left .modal-dialog-aside{ margin-left:auto;  transform: translateX(100%); }
    .modal.show .modal-dialog-aside{ transform: translateX(0);  }
   


    .form-group input{
        &::-webkit-input-placeholder{
            color: lightgrey;
        }

    }
    .modal {
        button[type=submit]{
            background-color: $raspberry;
        }
    }
    .button_register_container{
        text-decoration: none;
        font-family: 'Josefin Sans', sans-serif;
        &:visited {
            color: white;
        }
        .button_register{
            background-color: $bright-navy-blue;
            border-radius:0.9rem;
            width: 200px;
            height: 40px;
            line-height: 43px;
                
        }
    }
    
}

.modal-backdrop{
    z-index: 10;
}