.advanced-search {
    width: 80%;
    margin: auto;
    input[type=button] {
        font-family: 'Josefin Sans', sans-serif;
        padding: 8px 16px;
        border: 1px solid lightgrey;
        background-color: transparent;
        &:hover {
            border: 1px solid black;
        }
        
    }
}
.container_results_appartment{
    width: 80%;
    margin: auto;
    border: none;
    border-top: 1px solid lightgray;
    .number_results{
        border-bottom: 1px solid lightgray;
    }
    .single-apartment{
        .image-single{
            img{
               border-radius: 1.9rem; 
               height: 165px;
            }
            
        }
    }
    

}