.sponsor_title{
    font-family: $font-family-primary;
}

.container-apartments{
    width: 85%;
    
        .card{
    border-radius: 2rem!important;
    font-family: $font-family-primary;
    height: 100%;

    a{
        text-decoration: none;
        color: black;
        height: 100%;
        &:visited{
            color: black;
        }
    }
    img {
        height: 80%;
    }


    }




}
