#jumbo {
    height: 75vh;
    background-size: cover;
    background-position: center;
    position: relative;

    &>img{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        filter: brightness(0.7);
    }

    .search-destination {
        width: 75%;
        .input-group {
            height: 70px;
            .container-button-search {
                padding: 0.5rem;
                button {
                    padding: 0px 3rem;
                }
            }
        }
    }


}