// Body
$body-bg: #ffff;

// Typography
$font-family-primary: 'Josefin Sans', sans-serif;
$font-family-secondary: 'Urbanist', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$oxford-blue: #001632ff;
$raspberry: #e41c5bff;
$bright-navy-blue: #2477e3ff;

