// Body
$body-bg: #ffff;

// Typography
$font-family-primary: 'Josefin Sans', sans-serif;
$font-family-secondary: 'Urbanist', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$raspberry: #e41c5bff;
$oxford-blue: #001632ff;
$raspberry: #e41c5bff;
$bright-navy-blue: #2477e3ff;
