// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'guest.header';
@import 'guest.jumbo';
@import 'guest.index';
@import 'guest.show';
@import 'guest.register';
@import 'guest.advanced-search';
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}