// Fonts
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Urbanist:ital,wght@0,300;1,300&display=swap');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

/* @import "index_admin"; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

